{{- /* Oh My Zsh 与插件：仅 Linux/macOS（含 WSL）；Windows Git Bash 不装 OMZ */ -}}
{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
[".oh-my-zsh"]
    type = "git-repo"
    url = "https://github.com/ohmyzsh/ohmyzsh.git"
    refreshPeriod = "168h"
    clone.args = ["--depth", "1"]

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "168h"
    clone.args = ["--depth", "1"]

[".oh-my-zsh/custom/plugins/zsh-history-substring-search"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-history-substring-search.git"
    refreshPeriod = "168h"
    clone.args = ["--depth", "1"]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"
    clone.args = ["--depth", "1"]

[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-completions.git"
    refreshPeriod = "168h"
    clone.args = ["--depth", "1"]
{{- end -}}
