[source]
    sourceDir = ".chezmoi"

[data]
    os = "{{ .chezmoi.os }}"
    arch = "{{ .chezmoi.arch }}"
    hostname = "{{ .chezmoi.hostname }}"
    # 代理配置（默认 127.0.0.1:7890，可通过环境变量覆盖）
    proxy = "{{ envOrDefault \"PROXY\" (envOrDefault \"http_proxy\" \"http://127.0.0.1:7890\") }}"
    proxy_host = "127.0.0.1"
    proxy_port = "7890"
    # 平台特定的包管理器
    package_manager = "{{ if eq .chezmoi.os \"linux\" }}{{ if exec \"pacman\" }}{{ \"pacman\" }}{{ else if exec \"apt-get\" }}{{ \"apt\" }}{{ else if exec \"dnf\" }}{{ \"dnf\" }}{{ else if exec \"yum\" }}{{ \"yum\" }}{{ end }}{{ else if eq .chezmoi.os \"darwin\" }}{{ \"brew\" }}{{ else if eq .chezmoi.os \"windows\" }}{{ \"winget\" }}{{ end }}"

[git]
    autoCommit = false
    autoPush = false
